@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=cyrillic-ext");

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    background: #e6d16c;
    background: linear-gradient(135deg, #e6d16c, #16014c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b08a90', endColorstr='#b9d8e4', GradientType=1);
    min-height: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
}

.block {
    width: 30%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding: 50px;
}

.block h3 {
    color: #5d5d5d;
    font-size: 24px;
    margin-bottom: 10px;
}

.block code {
    font-size: 16px;
}

.bottom-text {
    text-align: center;
    color: #000000;
    margin-top: 150px;
    font-weight: bold;
}